﻿@model IEnumerable<MathematicalEquation.WebUI.ViewModel.EquationDTO> 

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">List Of Mathematical Equations</h1>
    <p>
        @Html.ActionLink("Add New Equation", "Create")
    </p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Xvalue)</th>
            <th>@Html.DisplayNameFor(x => x.Yvalue)</th>
            <th>@Html.DisplayNameFor(x => x.Expression)</th>
            <th>@Html.DisplayNameFor(x => x.CalculatedDate)</th>
        </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(mo => item.Xvalue) </td>
        <td>@Html.DisplayFor(mo => item.Yvalue) </td>
        <td>@Html.DisplayFor(mo => item.Expression) </td>
        <td>@Html.DisplayFor(mo => item.CalculatedDate) </td>
    </tr>

    }

    </table>
</div>
